@import "../styles/Variables/Variables";

@media screen and (min-width: 320px){

    .header{
        display: flex;
        justify-content: center;
      background-color: $color-secondary;
      color: white;
      font-size: 20px;
      padding: 10px 10px;
      text-align: center;
      font-weight: 700;
      box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, .1);
    }
    
    }