@import "../styles/Variables/Variables";

@media screen and (min-width: 320px){

    .menu{
        background-color: $color-secondary;
        color: white;
        position: absolute;
        left: 0px;
        top: 6rem;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        line-height: 36px;
        gap: 2rem;
        z-index: 10;
    }
    
    }